* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}

.home,
.services {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

.services {
	background-image: url("/src/components/assets/images/logo1.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

/*====================================================================*/
.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
/* 
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	} */
/*====================================================================*/

.products {
	display: flex;
	height: 108vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

.login-sign-up-nav {
	justify-content: center;
	flex-direction: row;
	display: flex;
}

.nav-link {
	font-weight: 100;
	font-size: x-large;
	font-style: normal;
	font-family: "Poppins", sans-serif;
	color: #9c9c9c;
}
.current {
	font-weight: 100;
	font-size: x-large;
	font-style: normal;
	font-family: "Poppins", sans-serif;
	color: #29313d;
}
.auth-wrapper {
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.auth-inner {
	width: 450px;
	margin: auto;
	background: #f0f0ee;
	box-shadow: none;
	padding: 40px 55px 45px 55px;
	border-radius: 15px;
	transition: all 0.3s;
}

.auth-inner-2 {
	width: 1324px;
	height: 639px;
	background: #f0f0ee;
	box-shadow: none;
	padding: 25px 30px 25px 30px;
	border-radius: 15px;
	transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
	border-color: #e5e5e5;
	box-shadow: none;
}

.form-control {
	background: #e5e5e5;
	border-radius: 10px;
	border: 1px solid #e5e5e5;
}

.auth-wrapper h3 {
	text-align: center;
	margin: 0;
	line-height: 1;
	padding-bottom: 20px;
}

.custom-control-label {
	font-weight: 400;
}

.forgot-password,
.forgot-password a {
	text-align: right;
	font-size: 13px;
	padding-top: 10px;
	color: #7f7d7d;
	margin: 0;
}

.forgot-password a {
	color: #dc3545;
}
