* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.products{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.products {
  background-image: url("./components/assets/images/background1.jpg"); 
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.login-sign-up-nav {
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.nav-link {
  font-weight: 100;
  font-size: x-large;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #9C9C9C;
}
.current {
  font-weight: 100;
  font-size: x-large;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #29313D;
}
.auth-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #F0F0EE;
  box-shadow: none;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-inner-2 {
  width: 1324px;
  height: 639px;
  background: #F0F0EE;
  box-shadow: none;
  padding: 25px 30px 25px 30px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #E5E5E5;
  box-shadow: none;
}

.form-control {
  background: #E5E5E5;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #dc3545;
}
